:root {
  --dark-navy: #02064a;
  --ming: #15616d;
  --orange: #a54f36;
  --kobe: #78290f;
}

* {
  box-sizing: border-box;
  /* background-color: #eee; */
}

h1 {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: var(--dark-navy);
  line-height: 3rem;
  margin-top: 4rem;
  /* margin-block-start: 2rem; */
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: var(--kobe);
  padding-top: 0.5rem;
  margin-top: 3rem;
  /* line-height: 2rem; */
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: var(--kobe);
}

header {
  background-color: var(--orange);
  padding: 1.5rem;
  color: #333;
  font-style: bold;
}
p {
  max-width: 70ch;
  padding: 0.5rem 0;
}

#list #listtwo {
  text-decoration: none;
  color: #333;
}

main {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 50rem;
}

body {
  margin: 0;
  padding: 1px;
  font-family: "Open Sans", sans-serif;
  color: #333;
  line-height: 1.5rem;
}
a[href] {
  text-decoration: none;
  color: #333;
}
.button {
  border: 2px solid var(--ming);
  padding: 0.5rem;
  transition: background-color 300ms;
  border-radius: 0.4rem;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  color: #333;
  margin-top: 2rem;
  cursor: pointer;
}

.button:hover {
  background-color: var(--ming);
  color: #fff;
}

img {
  width: 100%;
  height: auto;
  max-width: 600px;
  display: block;
}

picture img {
  max-width: none;
}

svg {
  width: 200px;
}

/* temp fix to size about img */
img[srcset] {
  width: 50%;
  height: auto;
  margin: 2rem auto;
}

/* temporary fix to size svg images */
img[src$="svg"] {
  width: 200px;
}
